<div id="chatbox">
	<div id="conversation">
		<div class="chatmsg their">You can ask me anything.</div>
		<div class="chatmsg mine">Can I really?</div>
		<div class="chatmsg their">Sure!</div>
	</div>
	<div id="respond">
		<div id="suggestions">
			<div class="chatButton">Hello!</div>
			<div class="chatButton">Can you explain the assignment?</div>
		</div>
		<div class="clear" \>
		<form id="inputForm">
			<div class="formGroup">
				<input id="textInput" type="text" class="textField" placeholder="Enter message here!" autofocus/>
			</div>
			<button class="sendButton" type="submit">Send</button>
		</form>
		<div class="clear" \>
	</div>
</div>
<script type="text/javascript" src="javascripts/jquery-2.0.3.min.js"></script>
<script type="text/javascript" src="javascripts/reconnecting-websocket.min.js"></script>
<script type="text/javascript" src="javascripts/application.js"></script>
